<div class="search_container">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" class="option" autocomplete="off" checked value="או">או
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" class="option" autocomplete="off" value="וגם"> וגם
    </label>
  </div>
  <div class="searchBar-wrapper">
    <input id="searchBar" class="searchbar" type="text" placeholder='לדוגמא: פולין 1943 "הצלב האדום"'>
    <i class="search-icons fas fa-times"></i>
    <i class="search-icons fa fa-search"></i>
  </div>
</div>