<html>
   <body>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <p>Name <input type = "text" name = "name" /></p>
         <p>Language <input type = "text" name = "lang" /></p>
         <p>Country <input type = "text" name = "country" /></p>
         <p>Year <input type = "text" name = "year" /></p>
         <p>Tags <input type = "text" name = "tags" /></p>
         <input type = "submit"/>
      </form>
   </body>
</html>
