option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "application.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "static": "static/"
  "aws:elasticbeanstalk:application:environment":
    GOOGLE_APPLICATION_CREDENTIALS: "/opt/python/current/app/proj_secrets/soulwings-94e1c45b141d.json"
commands:
  install_ffmpeg:
    command: "mkdir install_ffmpeg && cd install_ffmpeg && wget https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-amd64-static.tar.xz && mkdir ffmpeg_unpacked && tar xvf ffmpeg-git-amd64-static.tar.xz -C ffmpeg_unpacked --strip-components 1 && sudo mv ffmpeg_unpacked/ffmpeg ffmpeg_unpacked/ffprobe /usr/local/bin/ && cd .. && rm -r install_ffmpeg/"
  get_secrets:
    command: "aws s3 cp s3://soul-wings-secrets/proj_secrets.zip proj_secrets.zip && sudo unzip proj_secrets.zip -d /opt/python/current/app/ && rm proj_secrets.zip"
