/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body
{
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-family: "San Francisco",sans-serif;
	font-size: 12px;
	color:#d3d3d3 !important;
    overflow-x: hidden;
	direction: rtl;
}

#the_menu{
  	transition: visibility 0s, opacity 0.6s linear;  
}
body .text-color1 
{
    color: #882565;
}

body .text-color2 
{
    color: #C54D8D;
}
#b1,#b2,#b3,#b4{
	height: 100% !important; 
}
.col-md-3{
	height: 100% !important; 
}
.container
{
	/*width:1200px;*/
	margin: 0px auto;
	/*text-align: left;*/
}
#about{
	color: black;
	padding-top: 3%;
}
#about_big{
	color:black; font-size:120px; font-weight: lighter; padding-top:3%;
}
.top-nav /* the menu */
{
	position: absolute;
	height: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	background-color: #f8f8f8;
	-webkit-transition: height 1s; /* Safari */
    transition: height 1s;
}
#header{
height: 200%;
}
#header h1{
letter-spacing: 2px;
font-size: 45px;
font-weight: lighter;
}
#header h2{
font-size: 25px;
}
#header a {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
#header img{ /* the arrow */
/*margin-bottom: -9%;*/
	position: absolute;
	top: 0;
	left: 0;
	width:50px;
	height: 50px;
    -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-delay: -1s; /* Chrome, Safari, Opera */
    animation: mymove 1s infinite;
    animation-delay: -1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0% {top: 0;}
    50% {top: 15px;}
    100% {top: 0;}
}

@keyframes mymove {
    0% {top: 0;}
    50% {top: 15px;}
    100% {top: 0;}
}
.top-nav li a
{
	font-size:16px;
	font-family: "San francisco", sans-serif;
	font-weight: 300;
	color:#BDBDBD!important;
}

.navbar li .current
{
	background-color: transparent;
	outline: none;
    font-weight: 700;
}

.navbar-brand
{
	padding-top: 15px;
}


.navbar-inverse
{
	border: none;
	box-shadow: 0px 1px 5px #b8b8b8;
}

.content
{
	/*padding-top:70px; */
}
.content img
{
	width:230px;
	height: 230px;
	margin-top: 50px;
	margin-bottom: 50px;

}
#arrow{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
bottom: 0;
    /* 
    -webkit-transition: width 0.2s, height 0.2s, margin-left 0.2s ,padding-bottom 0.2s ,padding-top 0.2s;
    transition: width 0.2s, height 0.2s, margin-left 0.2s ,padding-bottom 0.2s ,padding-top 0.2s; */

}
.section1
{
	background: url(../img/workspace-main.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:50%;
	background-size: 100%;
	padding-top: 0;
}

#work{
	padding-top: 3%;
}
.section1 h2
{
	font-family: "San Francisco",sans-serif;
	font-weight: 300 !important;
	font-size: 48px;
	color:#fff;
}

.section1 p
{
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.section2
{
	padding-top: 100px;
	/*padding-bottom: 200px;*/
}

.section2 .intro-text
{
	text-align: left;
	font-weight: thick;

}
.section2 .intro-text p
{
	font-size: 22px;

}

.section2 img
{
	margin: 0 auto;
}

.section2 h3#aboutus-title
{
	font-family: "San Francisco", sans-serif;
	font-size: 34px;
	color: #626262 !important;
	font-weight: 300;
	margin-bottom: 40px;
}

.section2 .team
{
	padding: 150px 0px 100px 0px;
}

.section2 .team img
{
	margin:0px auto;
}

.section2 .team h3.team-name
{
	color:#848484;
	margin-bottom: 5px;
}

.section2 .team h4.team-subtitle
{
	margin-top: 0px;	
	font-weight: lighter;
	color:#848484;
	margin-bottom: 20px;
}

.section2 .team p.team-details
{
	text-align: center;
	font-size: 16px;
}

.section2 p
{
	color: #848484;
	font-size: 18px;
	font-family: "San Francisco", sans-serif;
	margin-bottom: 20px;
	font-weight: 300;
	text-align: left
}
.section3
{
	background: url(../img/computer.png);
	padding-top: 9%;
	padding-bottom: 15%;
	background-repeat:no-repeat;
	height: 100%;
	background-size: 160%;
	    background-position: center;


}

@media screen and (min-width: 500px) and (max-width: 1500px){
.section3
{
	padding-top: 9%;
	background-size:cover;
	padding-bottom: 9%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:50% 0%; 

}

}



#boxes{
	margin-top: 8%;
	width: 100%;
	padding-left: 10%;
	padding-right: 3%;

}
.box{
	background-color: #fff;
	width: 29%;
	float:left;
	margin-right: 1%;
	margin-left: 2%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
    -webkit-transition: width 0.2s,box-shadow 0.2s, height 0.2s,margin-right 0.2s, margin-top 0.2s, margin-left 0.2s ,padding-bottom 0.2s ,padding-top 0.2s; /* Safari */
    transition: width 0.2s,box-shadow 0.2s, height 0.2s,margin-right 0.2s, margin-top 0.2s, margin-left 0.2s ,padding-bottom 0.2s ,padding-top 0.2s;

}
.box:hover{
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 17px 0 rgba(0, 0, 0, 0.12);
	width: 31%;
	margin-left: 1%;
	padding-top: 2.5%;
	padding-bottom: 2%;
	margin-top: -1%;
}

.box .text{
	font-size: 22px;

}
.box .line{
	font-weight: lighter;
	color: rgb(239,240,242);
}
.box .email{
	font-size: 23px;
	color: rgb(0,188,212);
	font-weight: normal;
	padding-top: 2%;
}
/*
#coming_soon{
	float: none;
	font-weight: lighter;
	font-size: 50px;
	padding-top: 20%;
} */
#footer{
	width: 100%;
	padding-top: 10%;
	padding-bottom: 5%;
	background:url(../img/footer.png) no-repeat;
	background-size:cover;
}
#footer h2{
	color:#fff;
	word-spacing: 10px;
	line-height: 65px;
	font-size: 45px;
	font-weight: lighter;


}
.botton{
	width:23%;
	height: 40px;
	float: left;
	display: inline;
	font-size: 18px;
	color:#fff;
	border-radius: 20px;
    border: 1px solid #fff;
    margin-left: 3%;
    padding-top: 0.33em;;
    padding-bottom: 0%;
    -webkit-transition: background-color 0.3s; /* Safari */
    transition: background-color 0.3s;

}
.botton:hover{
	background-color: #fff;
	font-weight: 500;
	color:rgb(62,172,232);
	cursor: pointer;
}
.inputs , .inputs:hover , input{
display: none;
	background-color:  transparent;
color: #fff;
cursor: auto;
}

input{
	border:none;
}
input:focus{
    outline: none;
    background-color: transparent;
}
input:hover{
	background-color:  transparent;

}
.submit{
	width:10%;
	 cursor: pointer;
}
.submit:hover{
		background-color: #fff;
	color:rgb(62,172,232);
		 cursor: pointer;

}
#bottons{
	margin-top: 3%;
padding-left:30.5%;
}
#cancel{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	display: inline;
	float: left;
	cursor: pointer;
	display: none;
}
#cancel:hover{
	opacity: 0.6;
}
#options
{
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	text-align: center;
}

.section3 img.img-responsive
{
	margin: 0 auto;
}

.section3 h2
{
	color: black;
	font-size: 45px;
	font-weight: normal;

}
.section3 h3
{
	color: black;
	font-weight: 450;
	text-align: center;
	font-size: 25px;
	font-weight: lighter;
	    letter-spacing: 2px;
	        line-height:170%;


}

.section3 p
{
text-align: middle;
	color: black;
	font-weight: 300;
	font-size: 20px;
}

.section .section4{
	padding: 0;
}
#vision{
background-image: url("../img/vision.png");
background-size: 80%;
padding-top: 10%;
padding-bottom: 20%;
}
#vision_img{
width:35%;
height:20%;
margin-right: 5%;
float:right;
padding-top: 3.5%;

}
@media screen and (min-width: 1500px) {

#vision{
padding-top: 10%;
padding-bottom: 20%;
}
#vision_img{
width:30%;
height:5%;
margin-right: 5%;
float:right;
padding-top: 12%;
}
	}

#vision h3{
	text-align: center;
	font-weight:normal;
font-size: 27px;
}
#vision h2{
	color: black;
	line-height: 55px;
	font-weight:thick;
letter-spacing: 2px;
	text-align: center;
	padding-top: 5%;
}
#logos{
	width: 1000px;
	margin:0 auto;
	margin-top: 8%;
 }
#logos img{
float:left;
width:300px;
margin-right: 4em;
}


.portfolio
{	
	padding: 100px 0px
}

.portfolio #portfolio-introduction
{
	margin-bottom: 100px;
	color: black;

}
.portfolio #portfolio-introduction h2
{
	font-size: 45px;
	letter-spacing: 1px;
	color: rgb(66,66,66);
	font-weight: normal;
	margin-top:5%;

}
@media screen and (min-width: 1500px) {
.portfolio #portfolio-introduction h2
{
margin-top:10%;

}
}
.portfolio #portfolio-introduction p
{
	font-size: 24px;
	font-weight: lighter;
}

.portfolio #portfolio-items
{
	border-top: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
}

.portfolio .item .hover-content
{
	width: 100%;
	height: 100%;
	background: #00BCD4;
	opacity: 0.7;
	position: absolute;
	padding: 20px;
	display: none;
	transition:all 0.8s ease 0s;
	cursor: pointer;
}

.portfolio .item .hover-content h3
{
	font-size: 40px;
	font-weight: Regular;
	color: #fffff;
	position: relative;
	top:30%;
}

.portfolio .item:hover .hover-content
{
	display: block;
}

.portfolio .item  .portfolio-popup h3
{
	margin-bottom: 30px;
	margin-top: 0px;
	color:#828282;
} 

.portfolio .item .portfolio-popup p
{
	color: #828282;
	line-height: auto;
	font-size: 18px;
	font-weight: lighter;
}


.portfolio .item .portfolio-popup .popup-image-container
{
	padding: 10px;
}

.portfolio .item .portfolio-popup .popup-image-container img
{
	left: 0;
	width: 130px;
	height: 130px;	
}

.portfolio .item  .portfolio-popup .portfolio-item-description
{
    padding: 20px;
    text-align: left;
}

.portfolio .item .portfolio-popup .labels
{
	margin-top:20px;
	line-height: 30px;
}


.portfolio .item  .portfolio-popup .portfolio-item-description span.label
{
	font-family: "San Francisco", sans-serif;
	font-size: 12px;
	font-weight: lighter;
}

.portfolio h3
{
	font-size: 60px;
	font-family: "San Francisco", sans-serif;
	font-weight: lighter;
}

.footer
{
	background:  #000;
	/*padding-top: 200px;*/
}

#contact
{
	/*padding-bottom:80px;*/
	font-family:"San Francisco", sans-serif;
	font-weight:300;
	min-height:300px;
}

#contact #contact-us-header
{
	font-size: 54px;
	font-weight: lighter;
	margin-bottom: 50px
}

#contact #contact-form input[type=submit]
{
	background-color:#00BCD4;
	border:1px solid #00BCD4;																																																		
}

#contact #contact-form
{
	text-align: left;
}

#contact #contact-form label
{
	font-size: 16px;
	font-weight: lighter;
}

#contact .contact-description p
{
	font-size:20px;
}

.sm-wrapper
{
	margin-top:30px;
	margin-bottom:50px;
}


.sm-wrapper a:hover
{

}

.sm-container
{
	width:32px;
	height:32px;
	display:block;
	float:left;
	background:url(../img/sm-sprite.png) no-repeat;
	margin-right:10px;
}

.sm-container:hover
{
	/*border-bottom:5px solid #C54D8D;*/
	cursor:pointer;
}

.sm-facebook
{
	background-position:0px -32px;
}

.sm-linkedin
{
	background-position:0px -64px;
}

.sm-gplus
{
	background-position:0px -96px;
}

.sm-skype
{
	background-position:0px -128px;
}


/* end of contact section */



/* Landscape phones and down */

/* mobile */
@media screen and (max-width: 480px) { 

.top-nav li a{
	font-size: 20px;
}
#logo{
	width: 139px;
	height: 133px;
	margin-bottom: 2%;
}
.section1
{
	background-size: cover;
	}
#about_big{
	color:black; font-size:100px; font-weight: lighter; padding-top:3%;
}
.section2 .intro-text
{
	margin-left: 10%;

}
#boxes{
	margin-top: 8%;
	width: 100%;
	padding-left: 8%;

}
.box{
	background-color: #fff;
	width: 90%;
	float:left;
	text-align: center;
	border: #BDBDBD 1px solid;
	margin-right: 1%;
	margin-bottom: 10px;
	padding-left: 3%;
	padding-top: 2%;
	padding-bottom: 1%;
}
.box:hover{
	box-shadow: 0 0 0 0;
	width: 90%;

	margin-right: 1%;
	margin-left: 2%;
	padding-top: 2%;
	padding-bottom: 1%;

}
#vision_img{
width:16em;
height:10em;
margin-right: 3%;
float:right;
padding-top: 5%;

}
#vision h3{
	padding-left:7%;
	text-align: left;
	font-weight:normal;
font-size: 27px;
}
#vision h2{
	color: black;
	padding-left:7%;
	line-height: 45px;
	font-weight:thick;
letter-spacing: 1px;
	text-align: left;
	font-size: 30px;
}
.portfolio #portfolio-introduction
{
	margin-bottom: 50px;
	color: black;

}
.portfolio #portfolio-introduction h2
{

margin-top:25%;
margin-bottom: 0px;
}
/*
#coming_soon{
	float: none;
	font-weight: lighter;
	font-size: 40px;
padding-top: 20%;
}
*/
.botton{
	width:45%;
	height: 40px;
	float: left;
	display: inline;
	font-size: 18px;
	color:#fff;
	border-radius: 20px;
    border: 1px solid #fff;
    margin-left: 0.7em;
    padding-top: 0.33em;
    padding-bottom: 1%;
margin-bottom: 10px;
}
.botton:hover{
	background-color: #fff;
	font-weight: 500;
	color:rgb(62,172,232);
	cursor: pointer;
}
.inputs{
	    margin-left: 10%;

}
#the_email{
    margin-left: 15%;
}
.inputs , .inputs:hover , input{
display: none;
	background-color:  transparent;
color: #fff;
cursor: auto;
}

input{
	border:none;
	padding-left: 1em;
}
input:focus{
    outline: none;
    background-color: transparent;
}
input:hover{
	background-color:  transparent;

}
.submit{
	width:20%;
	 cursor: pointer;
}
.submit:hover{
		background-color: #fff;
	color:rgb(62,172,232);
}
#bottons{
	margin-top: 8%;
padding-left:0;
}
#cancel{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	display: inline;
	float: left;
	cursor: pointer;
	display: none;
}
#cancel:hover{
	opacity: 0.6;
}
.section3
{
	background: url(../img/computer.png);
	padding-top: 9%;
	background-size:auto;

	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:50% 0%; 

}


#footer{
	width: 100%;
	padding-top: 13%;
	padding-bottom: 10%;
	background:url(../img/footer.png) no-repeat;
	background-size:cover;
}
#footer h2{
	color:#fff;
	    word-spacing: 8px;
line-height: 40px;
font-size: 32px;
	font-weight: lighter;


}
	.section2 p
	{
		font-size: 18px;
		font-weight: 300;
	}

	.section2 img
	{
		padding-bottom: 60px;
	}

	.item,.item.w2 , .item.w3
	{ 
		width: 100%; 
	}

	.portfolio .item  .portfolio-popup h3
	{
		font-size: 42px;
	} 

	.portfolio .item .portfolio-popup p
	{
		font-size: 16px;
		font-weight: lighter;
	}

	.section2 .team img
	{
		padding-bottom: 0px;
	}

	.section3 .service-item
	{
		margin-bottom: 0px

	}

	.section3 .service-item p
	{
		font-size: 18px;
	    margin: 0 auto;
	    width: 100%;
	    text-align: middle;
	}


 }

/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 480px) {
	.section3 .service-item
	{
		margin-bottom: 50px
	}

	.section3 .service-item p
	{
		font-size: 18px;
	    margin: 0 auto;
	    width: 40%;
	}

	.section2 p
	{
		font-size: 20px;
		font-weight: 300;
	}

	.section2 img
	{
		padding-bottom: 0px;
	}

	.item,.item.w2 , .item.w3
	{ 
		width: 100%; 
	}

	.navbar-nav
	{
		background-color:#fff;
	}
}


/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.section2 img
	{
		padding-bottom: 60px;
	}

	.section2 p
	{
		font-size: 20px;
	}

	.section2 img
	{
		padding-bottom: 0px;
	}

	.section3 .service-item
	{
		margin-bottom: 50px;
		font-size: 18px;
	}

	
	.portfolio .item .hover-content h3
	{
		font-size: 18px;
		font-weight: 300;
		color: #fff;
		position: relative;
		top:30%;
	}

	.portfolio .item:hover .hover-content
	{
		display: block;
	}

	.portfolio .item  .portfolio-popup h3
	{
		margin-bottom: 30px;
		margin-top: 0px;
			width: 40%; 
	}

	.navbar-nav
	{
		float: right;
	}
}

/* Large desktop */
@media screen and (min-width: 1025px) {
	.navbar-nav
	{
		float: right;
	}
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


@media screen  and (max-width: 500px) {
#logos{
	width: 75%;
	margin:0 auto;

 }
#logos img{
	height: 100px;
width:250px;
display: block;
margin-right: 0em;
margin-left: 1.1em;
margin-top: 20px;
}
#logos #texas{
height: 10px;

}
}

@media screen and (min-width: 1500px) {

#logos img{
	padding-top: 0%;
	margin-top: 0%;

 }
}

.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    font-size: 16px;
    margin-top: 6%;
}